Repository reduce-map/nest-services-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx -y sort-package-json

fix: clean up
  libs/common/src/dto/login.dto.ts
  libs/common/src/dto/logout.dto.ts
Due: prettier --write

fix: clean up
  libs/common/src/utils/helpers.functions.ts
Due: prettier --write

feat: add user gate-way set up
  apps/auth-service/src/auth/auth.controller.ts
  apps/user-gateway/.env.docker.example
  apps/user-gateway/.env.example
  apps/user-gateway/jest.config.js
  apps/user-gateway/src/auth/auth.controller.ts
  apps/user-gateway/src/auth/auth.module.ts
  apps/user-gateway/src/auth/auth.service.ts
  apps/user-gateway/src/config-user-gateway.module.ts
  apps/user-gateway/src/main.ts
  apps/user-gateway/src/user-gateway.module.ts
  apps/user-gateway/test/app.e2e-spec.ts
  apps/user-gateway/test/jest-e2e.json
  apps/user-gateway/test/test.service.spec.ts
  apps/user-gateway/tsconfig.app.json
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, npx -y sort-package-json

feat: add logger
  libs/common/src/logger/index.ts
  libs/common/src/logger/logger.module.ts
  libs/common/src/logger/logger.service.ts
  libs/common/src/logger/logging.interceptor.ts
Due: prettier --write

feat: logger alignments
  apps/auth-service/src/auth-service.module.ts
  apps/auth-service/src/auth/auth.controller.ts
  apps/auth-service/src/auth/auth.service.ts
  apps/auth-service/src/auth/user.service.ts
  apps/auth-service/src/config-auth-service.module.ts
  apps/user-gateway/src/auth/auth.controller.ts
  apps/user-gateway/src/auth/auth.service.ts
  apps/user-gateway/src/config-user-gateway.module.ts
  apps/user-gateway/src/main.ts
  apps/user-gateway/src/user-gateway.module.ts
  libs/common/src/enums/index.ts
  libs/common/src/logger/index.ts
  libs/common/src/logger/logger.module.ts
  libs/common/src/logger/logger.service.ts
  libs/common/src/logger/logging.interceptor.ts
  package-lock.json
  package.json
Due: prettier --write, npx -y sort-package-json

feat/user-gateway (#2)
  apps/auth-service/src/auth-service.module.ts
  apps/auth-service/src/auth/auth.controller.ts
  apps/auth-service/src/auth/auth.service.ts
  apps/auth-service/src/auth/user.service.ts
  apps/auth-service/src/config-auth-service.module.ts
  apps/user-gateway/.env.docker.example
  apps/user-gateway/.env.example
  apps/user-gateway/jest.config.js
  apps/user-gateway/src/auth/auth.controller.ts
  apps/user-gateway/src/auth/auth.module.ts
  apps/user-gateway/src/auth/auth.service.ts
  apps/user-gateway/src/config-user-gateway.module.ts
  apps/user-gateway/src/main.ts
  apps/user-gateway/src/user-gateway.module.ts
  apps/user-gateway/test/app.e2e-spec.ts
  apps/user-gateway/test/jest-e2e.json
  apps/user-gateway/test/test.service.spec.ts
  apps/user-gateway/tsconfig.app.json
  libs/common/src/enums/index.ts
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, npx -y sort-package-json

feat: data-provider
  apps/data-provider/src/app.controller.spec.ts
  apps/data-provider/src/app.controller.ts
  apps/data-provider/src/app.module.ts
  apps/data-provider/src/app.service.ts
  apps/data-provider/src/config-data-provider-service.module.ts
  apps/data-provider/src/data-provider.module.ts
  apps/data-provider/src/infrastructure/database.module.ts
  apps/data-provider/src/infrastructure/entity.repository.ts
  apps/data-provider/src/infrastructure/ioc.types.ts
  apps/data-provider/src/infrastructure/utils.ts
  apps/data-provider/src/login-attempts/login-attempts.controller.ts
  apps/data-provider/src/login-attempts/login-attempts.module.ts
  apps/data-provider/src/login-attempts/login-attempts.service.ts
  apps/data-provider/src/main.ts
  apps/data-provider/src/proxy/proxy.controller.ts
  apps/data-provider/src/proxy/proxy.module.ts
  apps/data-provider/src/proxy/proxy.service.ts
  apps/data-provider/src/schemas/index.ts
  apps/data-provider/src/schemas/login-attempt.schema.ts
  apps/data-provider/src/schemas/proxy.schema.ts
  apps/data-provider/src/schemas/steam-account-attached.schema.ts
  apps/data-provider/src/schemas/steam-account-cookie-entry.schema.ts
  apps/data-provider/src/schemas/steam-account-credentials.schema.ts
  apps/data-provider/src/schemas/steam-account-infromation.schema.ts
  apps/data-provider/src/schemas/steam-account-statuses-information.schema.ts
  apps/data-provider/src/schemas/steam-account.schema.ts
  apps/data-provider/src/schemas/user-account.schema.ts
  apps/data-provider/src/schemas/user-credentials.schema.ts
  apps/data-provider/src/schemas/user-information.schema.ts
  apps/data-provider/src/schemas/user-session.schema.ts
  apps/data-provider/src/schemas/user-tfa-secret.schema.ts
  apps/data-provider/src/steam-account/steam-account.controller.ts
  apps/data-provider/src/steam-account/steam-account.module.ts
  apps/data-provider/src/steam-account/steam-account.service.ts
  apps/data-provider/src/user-account/user-account.controller.ts
  apps/data-provider/src/user-account/user-account.module.ts
  apps/data-provider/src/user-account/user-account.service.ts
Due: prettier --write

feat: data-provider
  apps/auth-service/src/auth/auth.controller.ts
  apps/auth-service/src/auth/auth.service.ts
  apps/data-provider/.env.docker.example
  apps/data-provider/.env.example
  apps/data-provider/src/config-data-provider-service.module.ts
  apps/data-provider/src/data-provider.module.ts
  apps/data-provider/src/login-attempts/login-attempts.controller.ts
  apps/data-provider/src/proxy/proxy.controller.ts
  apps/data-provider/src/steam-account/steam-account.controller.ts
  apps/data-provider/src/steam-account/steam-account.module.ts
  apps/data-provider/src/steam-account/steam-account.service.ts
  apps/data-provider/src/user-account/user-account.controller.ts
  apps/user-gateway/src/auth/auth.service.ts
  package-lock.json
  package.json
Due: prettier --write, npx -y sort-package-json

feat: data-provider
  apps/auth-service/src/auth/auth.controller.ts
  apps/data-provider/src/data-provider.module.ts
  apps/data-provider/src/login-attempts/login-attempts.controller.ts
  apps/data-provider/src/main.ts
  apps/data-provider/src/proxy/proxy.controller.ts
  apps/data-provider/src/user-account/user-account.controller.ts
  apps/data-provider/test/app.e2e-spec.ts
  apps/user-gateway/src/auth/auth.controller.ts
  apps/user-gateway/src/auth/auth.service.ts
  jest.config.base.js
Due: prettier --write

fix: fix tests and remove e2e for poc
  apps/auth-service/jest.config.js
  apps/auth-service/tests/app.e2e-spec.ts
  apps/auth-service/tests/jest-e2e.json
  apps/data-provider/jest.config.js
  apps/data-provider/tests/app.e2e-spec.ts
  apps/data-provider/tests/jest-e2e.json
  apps/user-gateway/tests/app.e2e-spec.ts
  apps/user-gateway/tests/jest-e2e.json
  apps/user-gateway/tests/test.service.spec.ts
  package.json
Due: prettier --write, npx -y sort-package-json

feat: add Docker
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write, npx -y sort-package-json

feat: add Docker
  .github/workflows/pull-request.yml
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,json,*rc}
  npx -y sort-package-json: any of: package.json
